<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright:
    <a
      href="https://www.linkedin.com/in/rodrigo-mauro-mu%C3%B1oz-%E3%83%84-62a1a3151/"
      target="_blanck"
      >Muñoz Rodrigo Mauro</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
