.cards-mayor {
  margin-left: 120px;
}

.cards {
  /* margin-left: 120px;
  margin-bottom: 50px;*/
  margin-right: 5px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 8px;
  width: 280px;
  float: left;
  margin-top: 200px;
}

.card-body {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-img-top {
  width: 266px;
  height: 400px;
}

/* .caja1 {
  margin-top: 250px;
  height: 450px;
  margin-right: 100px;
}

.caja2 {
  margin-top: 250px;
  padding-bottom: 400px;
  margin-right: 100px;
} */

.cards:hover {
  background-color: aliceblue;
  color: #000000;
  width: 280px;
}

img {
  width: 300px;
  margin-top: 7px;
  margin-left: 7px;
}

.card:hover {
  border-radius: 12px;
}

.icon-web {
  font-family: Iconsweb;
  font-size: normal;
}

p {
  position: absolute;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.box-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;

  position: absolute;
  width: 61px;
  height: 40px;
  left: 16px;
  top: 18px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.star {
  width: 18.33px;
  height: 18.23px;
  position: absolute;
  left: 4.34%;
  right: 8.32%;
  top: 7.66%;
  bottom: 8.68%;
}

h6 {
  position: absolute;
  left: 53.34%;
  right: 8.32%;
  top: 22.66%;
  bottom: 8.68%;
  color: #ffad49;
}
