.sally {
  position: absolute;
  right: 0%;
  top: 36%;
  bottom: -3.57%;
  left: 120px;
}

.rectangle {
  /* position: absolute; */
  width: 384px;
  height: 565px;
  top: 0px;
  background: #121829;
  border-radius: 36px;
}

.login h1 {
  position: static;
  width: 486px;
  height: 80px;
  left: 0px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #c3c8d4;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 40px;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: static;
  width: 486px;
  left: calc(50% - 486px / 2);
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
  background-image: url("../../../../assets/Vector.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 50px;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 16px;
}

.baseButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  position: static;
  width: 486px;
  left: calc(50% - 486px / 2);
  top: 0%;
  bottom: 0%;
  background: #7b6ef6;
  border: 2px solid #7b6ef6;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin-top: 40px;
}

.rectangle2 {
  position: absolute;
  width: 218px;
  height: 5px;
  left: 650px;
  top: 400px;
  background: #20283e;
  border-radius: 2px;
}

.rectangle3 {
  position: absolute;
  width: 229px;
  height: 5px;
  left: 910px;
  top: 400px;
  background: #20283e;
  border-radius: 2px;
}

#o {
  position: absolute;
  width: 20px;
  height: 40px;
  left: 877px;
  top: 380px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #c3c8d4;
}

.image1 {
  position: absolute;
  width: 303px;
  height: 69px;
  left: 730px;
  top: 450px;
  background: url("../../../../assets/image1.png");
  background-repeat: no-repeat;
}
