<!--Título y subtítulo-->
<div class="title">
  <p>PelisUp!</p>
  <h1>Series</h1>
</div>
<!--Fin Título y subtítulo-->

<!--Search-->
<input
  type="text"
  placeholder="Buscar películas y series"
  [(ngModel)]="buscar"
  (ngModelChange)="buscador()"
/>
<!--End Search-->

<!--button-->
<p id="side-h3">120 items</p>
<!--End Button-->

<ng-container *ngFor="let film of series">
  <div class="cards-mayor">
    <div class="cards">
      <img class="card-img-top" src="{{ film.image }}" alt="Card image cap" />
      <div class="box-star">
        <img class="star" src="../../../../assets/star.png" alt="star" />
        <h6>{{ film.rating }}</h6>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ film.name }}</h5>
      </div>
    </div>
  </div>
</ng-container>
